            <ul class="list-unstyled">
              <li>
                <a href="https://github.com/panxw">
                  GitHub
                </a>
              </li>
              <li>
                <a href="http://my.oschina.net/winfirm/">
                  OSChina
                </a>
              </li>
              <li>
                <a href="http://www.douban.com/people/38430153/">
                  Douban
                </a>
              </li>              
              <li>
                <a href="http://blog.chinaunix.net/uid/22985736.html">
                  Cublog
                </a>
              </li>
              <li>
                <a href="http://www.ruanyifeng.com/blog/">
                  Ruanyifeng's Blog
                </a>
              </li>
              <li>
                <a href="http://blog.jobbole.com/">
                  Jobbole
                </a>
              </li>
              <li>
                <a href="http://99u.com/">
                  99U
                </a>
              </li>		  
            </ul>