       <div class="shadow-corner-curl hidden-xs">
      <div class="categories-list-header">
        相关链接
      </div>    
 <ul class="list-unstyled">
              <li>
                <a href="https://github.com/" class="categories-list-item">
                   GitHub 
                </a>
              </li>
<li>
                <a href="http://www.stackoverflow.com/" class="categories-list-item">
                   Stack Overflow 
                </a>
              </li>
            </ul>

</div>
