          <ul class="nav navbar-nav">
            <li>
              <a href="/archives.html">
                归 档
              </a>
            </li>
            <li>
              <a href="/faqs.html">
                问 答
              </a>
            </li>
            <li>
              <a href="https://github.com/panxw?tab=repositories">
                项 目
              </a>
            </li>
            <li>
              <a href="http://www.linkedin.com/in/panxw">
                关 于
              </a>
            </li>
          </ul>
